body {
    font-family: Arial;
    background: #f2f2f2;
}

.search-box {
    text-align: center;
    margin: 20px;
}

.search-box input {
    padding: 10px;
    width: 200px;
}

.search-box button {
    padding: 10px;
    background: black;
    color: white;
}

.marksheet {
    width: 90%;
    max-width: 900px;
    margin: auto;
    background: white;
    border: 2px solid black;
    padding: 15px;
}

.header {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
}

.uni {
    text-align: center;
    width: 100%;
}

.info {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: center;
}

.performance {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.box {
    border: 1px solid black;
    width: 32%;
    text-align: center;
    padding: 10px;
}

.result {
    font-size: 18px;
    font-weight: bold;
}